
.sidebar {
  width: 300px;
  height: 100%;
  left: 0;
  color: white;
  background-color: #3aaf9f; /* Teal background */

  @media (max-width: 768px) {
    width: 30px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      cursor: pointer;
      padding: 12px;

      @media (max-width: 768px) {
        padding: 7px;
      }

      &:hover {
        background-color: #3a9f9f; /* Darker teal on hover */
      }

      a {
        display: flex;
        text-decoration: none;
        align-items: center; /* Center align items vertically */
        color: white;
        
        .icon {
          margin-right: 15px;
        }

        span {
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}


.dashboard-admin {
  display: flex;
  min-height: 80vh;
}
